* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #222;
    background-color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.logo{
    height: 35px;
    margin-right: 300px;


}

.search {
    width: 400px;
    height: 45px;
    border: 1px solid #bbb;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 12px;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.icons {
    display: flex;
    gap: 25px;
    font-size: 22px;
}




.product-container {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 40px;
}





.main-image {
    flex: 1;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
}

.main-image img {
    width: 80%;
    height: 90%;
    object-fit: contain;
}




.details {
    position: relative;
    padding: 10px 30px;
}

.new {
    background-color: #e5f1ff;
    color: #1264a3;
    padding: 5px 10px;
    font-size: 13px;
}

.details h1 {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
}

.product-code {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 14px;
    color: #555;
}

.rating {
    margin-top: 15px;
    color: #777;
    font-size: 18px;
}

.rating span {
    font-size: 14px;
    margin-left: 10px;
}

hr {
    margin: 25px 0;
    border: none;
    border-top: 1px solid #ddd;
}




.price {
    display: flex;
    align-items: center;
    gap: 15px;
}

.price span {
    font-size: 14px;
}

.price strong {
    font-size: 28px;
}

.tax {
    font-size: 13px;
    color: #555;
    margin-top: 5px;
}

.login {
    margin-top: 30px;
    color: #1264a3;
    font-size: 14px;
}




.color {
    margin-top: 30px;
}

.color-options {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.color-options img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
}




.quantity {
    margin-top: 35px;
    display: flex;
    width: 80px;
    height: 35px;
    border: 1px solid #ddd;
    align-items: center;
    justify-content: space-around;
}

.quantity button {
    border: none;
    background: white;
    cursor: pointer;
    font-size: 18px;
}




.add-bag,
.buy-now {
    width: 100%;
    height: 55px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

.add-bag {
    background-color: white;
    color: #1264d8;
    border: 1px solid #1264d8;
}

.buy-now {
    background-color: #1264d8;
    color: white;
    border: none;
}

.add-bag:hover {
    background-color: #f0f6ff;
}

.buy-now:hover {
    background-color: #0b4fae;
}




@media (max-width: 900px) {

    header {
        padding: 15px 4%;
        flex-wrap: wrap;
        height: auto;
        gap: 15px;
    }

    .search {
        order: 3;
        width: 100%;
    }

    .product-container {
        grid-template-columns: 1fr;
        width: 95%;
    }

    .left-section {
        flex-direction: column-reverse;
    }

    .thumbnails {
        width: 100%;
        flex-direction: row;
        overflow-x: auto;
    }

    .main-image {
        height: 450px;
    }

    .details {
        padding: 10px;
    }

    .product-code {
        position: static;
        margin-top: 10px;
    }
}


@media (max-width: 500px) {

    .logo {
        font-size: 25px;
    }

    .icons {
        gap: 12px;
        font-size: 18px;
    }

    .main-image {
        height: 350px;
    }

    .details h1 {
        font-size: 20px;
    }

    .price strong {
        font-size: 24px;
    }
}
.load-more{
    text-align: center;
    margin: 40px 0;
}
.load-more button{
    padding: 15px 40px;
    font-size: 16px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}
.load-more button:hover{
    background: #0047ba;
    color: white;
}
.reach-us{
    width: 100%;
    height: 120px;
    background: #0037d4;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reach-content{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
.reach-content i{
    font-size: 40px;
}
.reach-content h2{
    margin: 0;
    font-size: 36px;
    font-weight: 600;
}
.reach-content p{
    margin: 5px 0 0;
    font-size: 18px;
}
footer{
    background:#fff;
    padding:40px 70px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:30px;
}

.column h4{
    margin-bottom:15px;
    font-size:18px;
}

.column ul{
    list-style:none;
}

.column ul li{
    margin-bottom:10px;
    color:#555;
    font-size:15px;
}

.column a{
    text-decoration:none;
    color:#555;
}

.column a:hover{
    color:#1e40af;
}

.store{
    width:170px;
    margin-bottom:12px auto;
    display:block;
    cursor: pointer;
}

hr{
    margin:30px 0;
    border:0;
    border-top:1px solid #ddd;
}

.footer-content h3{
    margin-bottom:15px;
}

.footer-content p{
    color:#555;
    line-height:1.8;
    margin-bottom:12px;
}

.social{
    display:flex;
    justify-content:center;
    gap:20px;
}

.social i{
    width:40px;
    height:40px;
    background:#1f2937;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:5px;
    cursor:pointer;
    font-size:18px;
}

.social i:hover{
    background:#1e40af;
}
.last{
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;
}
